
.action-label {
  font-size: 22;
}

.pokemon-image {
  margin-top: 20;
}

.pokemon-name {
  font-size: 18;
}

.search-button {
  width: 75%;
}

.type-header {
  font-size: 18;
  margin: 10, 20;
}

.type-list {
  margin: 0, 20;
}

.type-label {
  font-size: 14;
}

